body {
    background-color: #e3f2fd;
  }
  
  section {
    padding: 80px 0px;
  }
  
  .logo-icon {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    color: #FFAFCC; 
  }
  
  .logo-name {
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #6c757d;
    margin-top: -8px;
  }
  
  /* Hero Section */
  .hero-section {
    background-color: #FFAFCC;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  
  .hero-section h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
  }
  
  .hero-section h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #f8f9fa;
  }
  
  .btn1 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #FF87A6;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .btn1:hover {
    background-color: #db4d81;
    color: #fff;
    text-decoration: none;
  }
  
  .hover-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  ul {
    list-style-type: none;
  }
  
  .prof {
    padding: 40px 0px;
  }
  
  h2 {
    color: #FF7F99;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
  }
  
  h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #FF7F99;
    left: 0;
    bottom: 0;
  }
  
  .content {
    padding: 40px 30px 0px 30px;
  }
  
  .list-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 20px;
    position: relative;
  }
  
  .list-title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #ffafcc;
    bottom: -5px;
    left: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    font-size: 1.1rem;
    color: #555555;
    padding: 8px 0;
  }
  
  li i {
    margin-right: 10px;
    color: #ffafcc;
  }
  
  .expertise-list,
  .interests-list {
    margin-left: 20px;
  }
  
  p {
    color: #555555;
  }
  
  .btn-primary {
    background-color: #FFAFCC;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #e695c2;
    transform: translateY(-3px);
    box-shadow: 0 0 5px rgba(255, 175, 204, 0.8);
  }
  
  .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 175, 204, 0.8);
  }
  
  .btn-primary:active {
    background-color: #d07aa1;
    transform: translateY(1px);
  }
  
  .badge {
    font-size: 0.75rem;
    padding: 0.4em 0.6em;
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #3a3a3a;
    position: relative;
  }
  
  .card-title i {
    color: #FFAFCC !important;
  }
  
  /* Projects */
  #projects {
    padding: 80px 0;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
  }
  
  .project-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    height: 100%;
    width: 100%;
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
  }
  
  .project-overlay .project-title {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  
  .project-overlay .project-description {
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.4;
  }
  
  .project-overlay .project-link {
    font-size: 1.5rem;
    color: #FFAFCC;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .project-overlay .project-link:hover {
    color: #FF9CC3;
  }
  
  .project-card:hover .project-image {
    transform: scale(1.1);
  }
  
  .project-card:hover .project-overlay {
    opacity: 1;
  }
  
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .collapsed {
    color: #FF9CC3 !important;
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 60px 0;
    margin-top: 20px;
    color: #333;
  }
  
  .footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .footer p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .social-links a {
    color: #d07aa1;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #db4d81;
  }
  
  .copyright,
  .credits {
    font-size: 14px;
    color: #666;
    margin-top: 15px;
  }
  
  .credits a {
    color: #d07aa1;
    text-decoration: none;
  }
  
  .credits a:hover {
    text-decoration: underline;
  }
  